# Node.js (React)
node_modules/
dist/
build/
.env

# Python
.venv/
__pycache__/
*.py[cod]
*.pyi
*.pyd
*.pyw
*.pyz

# Python Packaging
*.egg-info/
*.egg
*.manifest
*.spec
*.whl
*.dist-info/
*.dist

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PDF Vector Store
.vectorstores/
