node_modules/
.env
.DS_Store
dist/
.venv
.__pycache
*__pycache
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
.vectorstores